/*19335040 丁维力*/
/*简单计算器样式表*/
/*设置最大容器占屏幕100%，去除多余的边距和缩进*/
html,body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden; 
	background: url(../assest/background.jpg) center no-repeat;
	background-size: 100%; 
}
/*将计算器位置居中，设置大小及外框样式*/
#box{
	background: lightgoldenrodyellow;
	position: relative;
	width: 400px;
	height: 550px;
	border: 5px solid;
	border-color: lightyellow;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -275px; 
	overflow: hidden;
	border-radius: 7%;
	border-width: thick;
}
/*设置显示屏位置及样式*/
#screen{
	background-color: white;
	width: 80%;
	height: 150px;
	border: 5px solid;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	border-color: lightgreen;
	border-radius: 10%;
}
/*设置屏幕上表达式和结果的样式，表达式和结果各有两行的输出空间，超出两行部分用省略号表示*/
#expression,#answer{
	font-weight: bolder;
	height: 70px;
	width: 315px;
	overflow: hidden;
	text-align: right;
	font-size: 20pt;
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
/*设置按键区位置及样式*/
#button_{
	width: 80%;
	height: 300px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 35px;
	border-radius: 7%;
}
/*设置每个按键位置及样式*/
input{
	list-style: none;
	display: inline-block;
	width: 66px;
	height: 50px;
	line-height: 40px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: center;
	background-color: lightgrey;
	font-weight: bolder;
	border-width: thick;
	border-color: lightgrey;
	font-size: 28pt;
}