/*19335040 丁维力*/
/*打地鼠小游戏样式表*/
/*设置最大容器占屏幕100%，去除多余的边距和缩进，设置主要字体*/
html,body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden; 
	font-family: "Century Gothic",sans-serif;
	color: darkgreen;
	background: url(../assest/timg.jpg) center no-repeat;
	background-size: 100%;
}
/*设置标题位置及字体样式*/
header{
	font-size: 28pt;
	font-weight: bolder;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
#top{
	font-weight: bolder;
	text-align: center;
	font-size: 17pt;
}
/*设置游戏过程信息显示区位置及字体样式*/
#result{
	height: 66px;
	width: 400px;
	position: relative;
	left: 50%;
	margin-left: -200px;
	font-size: 12pt;
	margin-bottom: 50px;
}
#control,#time,#over,#score{
	height: 23px;
	margin-top: 10px;
}
#control,#over{
	font-family: Arial,sans-serif;
	float: left;
	border: 1.5px purple solid;
}
#control{
	width: 185px;
}
#start,#stop{
	padding-left: 5px;
	display: inline-block;
	width: 85px;
	margin-top: 0;
}
#over{
	clear: left;
	padding-left: 5px;
	padding-right: 5px;
	color: red;
	font-weight: bolder;
	font-size: 15pt;
	width: 110px;
}
#time,#score,#time_value,#score_value{
	float: right;
	font-size: 15pt;
}
#score{
	clear: right;
}
#time_value,#score_value{
	border: 1.5px purple solid;
	width: 40px;
	margin: 0;
	height: 22px;
}
/*设置游戏区样式*/
#game{
	max-height: 400px;
	max-width: 590px;
	border: 3px gold solid;
	border-right: none;
	border-left: none;
	left: 50%;
	margin-left: -295px;
	position: relative;
	margin-bottom: 50px;
	padding-top: 30px;
	padding-left: 19px;
}
input{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-right: 20px;
	margin-bottom: 20px;
	display: inline-block;
}
/*设置规则区位置及字体样式*/
#bottom{
	font-family: Tahoma,sans-serif;
	width: 630px;
	position: relative;
	left: 50%;
	margin-left: -315px;
	color: yellowgreen;
}
#bottom p{
	font-weight: bolder;
}
#bottom li{
	padding-left: 10px;
}
